<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:flagment="head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" th:href="@{/static/resources/assets/ico/favicon.png}">
<title>Narrow Jumbotron Template for Bootstrap</title>
<!-- Bootstrap core CSS -->
<link thhref="@{/static/resources/css/bootstrap.css}" rel="stylesheet">
 <!-- Custom styles for this template -->
<link th:href="@{/static/resources/css/jumbotron-narrow.css}" rel="stylesheet">
<script th:src="@{/static/resources/assets/js/jquery.js}"></script>
<script th:src="@{/static/resources/js/bootstrap.min.js}"></script>

</html>